<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <span>Let's begin...</span>
        </div>

        <div class="panel-body text-center">
            <form id="startquizform">
                <div class="form-group">
                    <label for="name">Your name:</label>
                    <input id="username" type="text" name="name" ng-model="vm.username" placeholder="?" required>
                </div>
                <div class="form-group">
                    <label class="small" for="level">Level:</label>
                    <select name="level" ng-model="vm.level" ng-options="x for x in vm.levelOptions"></select>
                    <label class="small" for="questions">Number of questions:</label>
                    <select name="questions" ng-model="vm.numberOfQuestions" ng-options="x for x in vm.questionOptions"></select>
                </div>
                <div class="form-group">
                    <button id="btnOK" type="submit" class="btn btn-primary" ng-click="vm.startQuiz()">Start</button>
                </div>
            </form>
        </div>

        <div class="panel-footer text-center">
            <span class="fa"></span>
            <span>{{ vm.message }}</span>
        </div>

    </div>
</div>