@font-face {
    font-family: 'gooddogregular';
    src: url('../fonts/GoodDog-webfont.eot');
    src: url('../fonts/GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GoodDog-webfont.woff') format('woff'),
         url('../fonts/GoodDog-webfont.ttf') format('truetype'),
         url('../fonts/GoodDog-webfont.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    padding:0;
    margin:0;
    border:0;
}

body {
    font-family: 'gooddogregular';
    font-size: 30px;
    background-image: radial-gradient(center center, ellipse cover, #ffeda3, #ffc800);
    background-image: -webkit-radial-gradient(center center, ellipse cover, #ffeda3, #ffc800);
    position: relative;
}

h1 {
    font-size: 60px;
}

/* Remove up/down spinner for number input field */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

a:hover{text-decoration: none !important}
a{text-decoration: none !important}

.panel {
    border-radius: 25px;
}

.panel-heading {
    border-radius: 25px 25px 0px 0px;
    font-size: 36px;
}

.panel-footer {
    border-radius: 0px 0px 25px 25px;
}

.panel-body button,.panel-body input, .panel-body label{
    margin: 10px;
}

.btn {
    border-radius: 25px;
    font-size: 30px;
    color: #EBEBD3;
    min-width: 80px;
}

.btn:hover {
    color: #ffc800;
}

.btn-menu {
    font-size: 56px;
    text-shadow: 3px 3px #052f5f;
    margin:20px;
}

.score {
    color: #ffc800;
    font-size: 40px;
    font-weight: bold;
    float: right;
}

.question-text {
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}

.question-response {
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    text-align: center; 
    width: 80px;
}

/* Better default colors */
.red { color: #FF4136; }
.green { color: #2ECC40; }
.blue { color: #0074D9; }

#username {
    width: 200px;
}